<!DOCTYPE html>
<html>
<head>
	<title>Media Browser Controller</title>

	<link rel="stylesheet" href="../css/bootstrap.min.css">

	<script src="../js/jquery.min.js"></script>
	<script src="../js/tether.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/socket.io.js"></script>

	<script src="../js/sockioServerAddress.js"></script>
</head>

<body>

	<section id="top_nav">
			
		<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
	  			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	  			</button>
				<img class="navbar-brand" src="assets/images/logo.png"/>
			</div>
			
			<div class="navbar-collapse collapse">
	  			<ul class="nav navbar-nav pull-right">
					<li><a href="#index">Home</a></li>
	                <li><a href="#about">About Us</a></li>
	                <li><a href="#Example">Example</a></li>
	                <li><a href="#team">Our Team</a></li>
						<li><a href="#Example">Example</a></li>
	                <li><a href="#enquire">Enquire Now</a></li>
	                <li><a href="#Example">Example</a></li>
				</ul>
			</div><!--/.nav-collapse -->
			</div>
	    </div><!--/.navbar -->
	    
	</section>
	

</body>
</html>