<h1 id="waitingMessage">Watch Full Screen Youtube Here</h1>

<script type="text/javascript">

	var wPlaylist = [];

	var YTIFrameManager = {

		"wPlayer" : null,
		"playlist" : {items: null, index: null},
		"needToCuePlaylist": false,

		tearDown: function() {
			YTIFrameManager.wPlayer.destroy();
			setTimeout(function(){
				YTIFrameManager.wPlayer = null,
				$("#waitingMessage").show();
			} , 1000 );
		},

		showVideo: function(wVideo) {

			$("#waitingMessage").hide();

			if ( !wVideo ){
				var wVideo = { id: "o2Qmc8Sb6Ws" };
			}

			var wThis = $(window);
			var wHeight = wThis.height();
			var wWidth = wThis.width();

			YTIFrameManager.wPlayer = new YT.Player( 'player', {
			    height: wHeight,
			    width: wWidth,
			    videoId: wVideo.id ,
			    events: {
			      'onReady': YTIFrameManager.onPlayerReady,
			      'onStateChange': YTIFrameManager.onPlayerStateChange
			    }
			});

		},

		cuePlaylist: function() {

			YTIFrameManager.wPlayer.cuePlaylist( wPlaylist );
			
		},

		onPlayerStateChange: function(event) {
			switch ( event.data ) {
				case -1:
					console.log(" video is unstarted ");
					break;
				case 0:
					console.log(" video is over ");
					YTIFrameManager.tearDown();
					break;
				case 1:
					console.log(" video is now playing ");
					break;
				case 2:
					console.log(" video is paused ");
					break;
				case 3:
					console.log(" video is buffering ");
					break;
				case 5:
					console.log(" new video is cued ");
					break;
			}
		},

		onPlayerReady: function(event) {
			console.log("player is supposedly ready");
			if ( YTIFrameManager.needToCuePlaylist ) { 
				YTIFrameManager.cuePlaylist();
				setTimeout(function(){
					YTIFrameManager.needToCuePlaylist = false;
					$(document).trigger( "toggle-f-keypress" );
					YTIFrameManager.getCurrentPlaylistInfo();
				} , 2000 );

			}
			else {
				YTIFrameManager.wPlayer.playVideo();
				$(document).trigger( "toggle-f-keypress" );
			}
		},

		getCurrentPlaylistInfo: function() {
			YTIFrameManager.playlist.items = YTIFrameManager.wPlayer.getPlaylist();
			YTIFrameManager.playlist.index = YTIFrameManager.wPlayer.getPlaylistIndex();
			console.log( "Current Playlist Index = " + YTIFrameManager.playlist.index.toString() );
			if ( YTIFrameManager.playlist.items ) {
				for( var i = 0; i < YTIFrameManager.playlist.items.length; ++i ) {
					console.log( YTIFrameManager.playlist.items[i] );
				}
			}
		},

	};

	function generateRandomLivePlaylist() {

		console.log("generating random ytLiveList");

		for ( var iprop in ytLiveList ) {
			for ( var jprop in ytLiveList[iprop] ) {
				wPlaylist.push( jprop );
			}
		}

		function shuffle(array) {
			var currentIndex = array.length, temporaryValue, randomIndex;

			  // While there remain elements to shuffle...
			  while (0 !== currentIndex) {

			    // Pick a remaining element...
			    randomIndex = Math.floor(Math.random() * currentIndex);
			    currentIndex -= 1;

			    // And swap it with the current element.
			    temporaryValue = array[currentIndex];
			    array[currentIndex] = array[randomIndex];
			    array[randomIndex] = temporaryValue;
			  }

			  return array;			
		}

		wPlaylist = shuffle(wPlaylist);

		YTIFrameManager.showVideo();
		YTIFrameManager.needToCuePlaylist = true;
		

	}

	$(document).on( "randomYTLive" , function( event , einfo ) { 
		generateRandomLivePlaylist();
	});

</script>

<div id="player"></div>