<h1 id="waitingMessage">Watch Full Screen Youtube Live Here</h1>

<script type="text/javascript">

	var wPlaylist = [];

	var YTIFrameManager = {

		"wPlayer" : null,
		"playlist" : null,
		"usingPlaylist": false,
		"muted": false,

		tearDown: function() {
			YTIFrameManager.wPlayer.destroy();
			setTimeout(function(){
				YTIFrameManager.wPlayer = null,
				$(document).trigger( "yt-player-destoyed" );
				$("#waitingMessage").show();
			} , 1000 );
		},

		showVideo: function(wVideo) {

			$("#waitingMessage").hide();

			if ( !wVideo ){ var wVideo = { id: "o2Qmc8Sb6Ws" }; } 

			var wThis = $(window);
			var wOptions = { version: 3 , height: wThis.height() , width: wThis.width() , videoId: wVideo.id };
			if ( YTIFrameManager.usingPlaylist ) {
				wOptions.videoId = YTIFrameManager.playlist[0];
				wOptions.loop = 1;
			}
			wOptions.events = {
				'onReady': YTIFrameManager.onPlayerReady,
			    'onStateChange': YTIFrameManager.onPlayerStateChange,
			    'onError': YTIFrameManager.errorHandler,
			};

			YTIFrameManager.wPlayer = new YT.Player( 'player', wOptions );

		},

		errorHandler: function(event) {
			console.log( "error = " + event.data.toString() );
		},

		onPlayerStateChange: function(event) {
			switch ( event.data ) {
				case -1:
					console.log(" video is unstarted ");
					break;
				case 0:
					console.log(" video is over ");
					if ( YTIFrameManager.usingPlaylist ) {
						console.log( YTIFrameManager.wPlayer.getPlaylistIndex() );
					}
					else {
						YTIFrameManager.tearDown();
					}
					break;
				case 1:
					console.log(" video is now playing ");
					break;
				case 2:
					console.log(" video is paused ");
					break;
				case 3:
					console.log(" video is buffering ");
					break;
				case 5:
					console.log(" new video is cued ");
					break;
			}
		},

		onPlayerReady: function(event) {
			console.log("player is supposedly ready");
			console.log(YTIFrameManager.wPlayer);
			if ( YTIFrameManager.usingPlaylist ) { 
				YTIFrameManager.wPlayer.cuePlaylist( wPlaylist );
				YTIFrameManager.wPlayer.setShuffle( true );
				setTimeout( function() {
					YTIFrameManager.wPlayer.setLoop(true);
					if ( YTIFrameManager.muted ) { YTIFrameManager.wPlayer.mute(); }
					$(document).trigger( "toggle-f-keypress" );
				} , 2000 );
			}
			else {
				$(document).trigger( "toggle-f-keypress" );	
			}

		},

		getCurrentPlaylistInfo: function() {
			YTIFrameManager.playlist.items = YTIFrameManager.wPlayer.getPlaylist();
			YTIFrameManager.playlist.index = YTIFrameManager.wPlayer.getPlaylistIndex();
			console.log( "Current Playlist Index = " + YTIFrameManager.playlist.index.toString() );
			if ( YTIFrameManager.playlist.items ) {
				for( var i = 0; i < YTIFrameManager.playlist.items.length; ++i ) {
					console.log( YTIFrameManager.playlist.items[i] );
				}
			}
		},

	};


	function generateRandomLivePlaylist() {

		console.log("generating random ytLiveList");
		for ( var iprop in ytLiveList ) {
			for ( var jprop in ytLiveList[iprop] ) {
				wPlaylist.push( jprop );
			}
		}

		YTIFrameManager.playlist = wPlaylist;
		YTIFrameManager.usingPlaylist = true;
		YTIFrameManager.showVideo();
		
	}

	$(document).on( "tearDownPlayer" , function( event , einfo ) { YTIFrameManager.tearDown(); });

	$(document).on( "randomYTLiveBG" , function( event , einfo ) {

		console.log(ytLiveList);

		YTIFrameManager.muted = true;

		if ( ytLiveList === null ) {
			setTimeout( ()=> { console.log("waiting on first-time-result update"); generateRandomLivePlaylist(); } , 5000 );
		}
		else {
			generateRandomLivePlaylist();
		}
		
	});

	$(document).on( "nextYTLiveVideo" , function( event , einfo ) { YTIFrameManager.wPlayer.nextVideo(); });

</script>

<div id="player"></div>