<h1 id="waitingMessage">Watch Full Screen Youtube Here</h1>

<script type="text/javascript">

	var wPlaylist = [];

	var YTIFrameManager = {

		"wPlayer" : null,
		"playlist" : null,
		"usingPlaylist": false,

		tearDown: function() {
			YTIFrameManager.wPlayer.destroy();
			setTimeout(function(){
				YTIFrameManager.wPlayer = null,
				$("#waitingMessage").show();
			} , 1000 );
		},

		showVideo: function(wVideo) {

			$("#waitingMessage").hide();

			if ( !wVideo ){ var wVideo = { id: "o2Qmc8Sb6Ws" }; } 

			var wThis = $(window);
			var wOptions = { version: 3 , height: wThis.height() , width: wThis.width() , videoId: wVideo.id };
			if ( YTIFrameManager.usingPlaylist ) {
				wOptions.videoId = YTIFrameManager.playlist[0];
				wOptions.loop = 1;
			}
			wOptions.events = {
				'onReady': YTIFrameManager.onPlayerReady,
			    'onStateChange': YTIFrameManager.onPlayerStateChange,
			    'onError': YTIFrameManager.errorHandler,
			};

			YTIFrameManager.wPlayer = new YT.Player( 'player', wOptions );

		},

		errorHandler: function(event) {
			console.log( "error = " + event.data.toString() );
		},

		onPlayerStateChange: function(event) {
			switch ( event.data ) {
				case -1:
					console.log(" video is unstarted ");
					break;
				case 0:
					console.log(" video is over ");
					if ( YTIFrameManager.usingPlaylist ) {
						console.log( YTIFrameManager.wPlayer.getPlaylistIndex() );
					}
					//YTIFrameManager.tearDown();
					break;
				case 1:
					console.log(" video is now playing ");
					break;
				case 2:
					console.log(" video is paused ");
					break;
				case 3:
					console.log(" video is buffering ");
					break;
				case 5:
					console.log(" new video is cued ");
					break;
			}
		},

		onPlayerReady: function(event) {
			console.log("player is supposedly ready");

			if ( YTIFrameManager.usingPlaylist ) { 
				YTIFrameManager.wPlayer.cuePlaylist( wPlaylist );
				setTimeout( function() {
					YTIFrameManager.wPlayer.setLoop(true);
					$(document).trigger( "toggle-f-keypress" );
				} , 2000 );
			}
			else {
				$(document).trigger( "toggle-f-keypress" );	
			}


		},

		getCurrentPlaylistInfo: function() {
			YTIFrameManager.playlist.items = YTIFrameManager.wPlayer.getPlaylist();
			YTIFrameManager.playlist.index = YTIFrameManager.wPlayer.getPlaylistIndex();
			console.log( "Current Playlist Index = " + YTIFrameManager.playlist.index.toString() );
			if ( YTIFrameManager.playlist.items ) {
				for( var i = 0; i < YTIFrameManager.playlist.items.length; ++i ) {
					console.log( YTIFrameManager.playlist.items[i] );
				}
			}
		},

	};

	function shuffleArray(array) {
		var currentIndex = array.length, temporaryValue, randomIndex;

		// While there remain elements to shuffle...
		while (0 !== currentIndex) {

			// Pick a remaining element...
			randomIndex = Math.floor(Math.random() * currentIndex);
			currentIndex -= 1;

			// And swap it with the current element.
			temporaryValue = array[currentIndex];
			array[currentIndex] = array[randomIndex];
			array[randomIndex] = temporaryValue;
		}

		return array;			
	}

	function generateRandomLivePlaylist() {

		console.log("generating random ytLiveList");
		for ( var iprop in ytLiveList ) {
			for ( var jprop in ytLiveList[iprop] ) {
				wPlaylist.push( jprop );
			}
		}

		YTIFrameManager.playlist = shuffleArray(wPlaylist);
		YTIFrameManager.usingPlaylist = true;
		YTIFrameManager.showVideo();
		
	}

	$(document).on( "randomYTLive" , function( event , einfo ) {
		console.log("YT Live List = ");
		console.log(ytLiveList);
		if ( ytLiveList === null ) {
			setTimeout(function(){ console.log("waiting on first-time-result update"); generateRandomLivePlaylist(); } , 13000 );
		}
		else {
			generateRandomLivePlaylist();
		}
		
	});

	$(document).on( "showYTVideoID" , function( event , einfo ) { 
		//generateRandomLivePlaylist();
	});

	$(document).on( "nextYTLiveVideo" , function( event , einfo ) { YTIFrameManager.wPlayer.nextVideo(); });

</script>

<div id="player"></div>